<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Main).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <text>Пожалуйста, ожидайте!.</text>
                </Authorizing>
                <NotAuthorized>
                    <text> Вы не авторизированы. </text>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Ничего не найдено</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>