@page "/Users"

@using AntroStop.Domain.Base.Models.Users;
@using AntroStop.Interfaces.Base.Repositories;

@inject IStringRepository<UsersInfo> repository

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Пользователи</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active">Пользователи</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header container-fluid">
                        <div class="row">
                            <div class="col-md-10">
                                
                            </div>
                            <div class="col-md-2 float-right">
                                <a class="btn btn-primary btn-sm pull-right" href="/User"><i class="fas fa-plus"></i> Добавить пользователя</a>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @if (sources is { } mainSources)
                        {
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">E-mail</th>
                                        <th>ФИО</th>
                                        <th>Роль</th>
                                        <th>Дата создания</th>
                                        <th>Дата изменения</th>
                                        <th style="width: 40px">Статус</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var src in mainSources)
                                    {
                                        <tr>
                                            <td><a title="Просмотр заявок от пользователя: @src.ID" href="/ViolationsByUser/@src.ID">@src.ID</a></td>
                                            <td>@src.Name</td>
                                            <td>
                                                @src.RoleName
                                            </td>
                                            <td>@src.CreatedAt</td>
                                            <td>@src.UpdatedAt</td>
                                            <td>
                                                @switch (src.Status)
                                                {
                                                    case false:
                                                        <span class="badge bg-danger">

                                                            Не активен

                                                        </span>
                                                        break;
                                                    case true:
                                                        <span class="badge bg-success">

                                                            Активен

                                                        </span>
                                                        break;
                                                    
                                                }

                                            </td>
                                            <td class="project-actions text-right">
                                                <a class="btn btn-primary btn-sm" href="#">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    Просмотреть
                                                </a>
                                                <a class="btn btn-success btn-sm" href="/User/@src.ID">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Изменить
                                                </a>
                                                <button class="btn btn-danger btn-sm" @onclick="() => DeleteUser(src)">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Удалить
                                                </button>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>Страница загружается</p>
                        }

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>

    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
@code
{
    private IList<UsersInfo> sources;

    private async Task UpdateSources()
    {
        sources = (await repository.GetAll()).ToList();
    }

    protected override async Task OnInitializedAsync() => await UpdateSources();

    private async Task DeleteUser(UsersInfo user)
    {
        if (sources is not { Count: > 0 }) return;

        var removedObj = await repository.Delete(user.ID);

        sources.Remove(user);
    }
}
