@page "/User"
@page "/User/{userID}"

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

                @if (UserId == string.Empty)
                {
                    <h1> Добавление пользователя</h1>
                }
                else
                {
                    <h1> Изменение пользователя: @UserId</h1>
                }

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item"><a href="/Users">Пользователи</a></li>
                    @if (UserId == string.Empty)
                    {
                        <li class="breadcrumb-item active">Создание пользователя</li>
                    }
                    else
                    {
                        <li class="breadcrumb-item active">Изменение пользователя</li>
                    }
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
 <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Форма пользователя</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
               <EditForm Model="user" OnValidSubmit="Save">
                <div class="card-body">
                  <DataAnnotationsValidator />
                  <div class="form-group">
                    <label for="exampleInputEmail1">E-mail <ValidationMessage For="@(() => user.ID)" /></label>
                    <InputText @bind-Value="user.ID" type="text" class="form-control" id="exampleInputEmail1" placeholder="example@example.com"/>
                  </div>
                  <div class="form-group">
                    <label for="exampleName">Фамилия Имя <ValidationMessage For="@(()=>user.Name)"/></label>
                    <InputText @bind-Value="user.Name" type="text" class="form-control" id="exampleName" placeholder="Иванов Иван"/>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Пароль <ValidationMessage For="@(()=>user.Password)"/></label>
                    <InputText @bind-Value="user.Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль"/>
                  </div>
                  <div class="form-group">
                                <label for="exampleSelectRole">Роль пользователя <ValidationMessage For="@(()=>user.RoleID)" /></label>
                                <InputSelect @bind-Value="user.RoleID" class="custom-select form-control-border" id="exampleSelectRole">
                                    @if (roles is { } rolesInf)
                                    {
                                        <option value="0"></option>
                                        @foreach (var src in rolesInf)
                                        {
                                            <option value="@src.ID">@src.Name (@src.Description)</option>
                                        }

                                    }
                                    else
                                    {
                                        <option>Загрузка...</option>
                                    }

                                </InputSelect>
                            </div>
                  <div class="form-check">
                    <InputCheckbox @bind-Value="user.Status" type="checkbox" class="form-check-input" id="exampleCheck1"/>
                    <label class="form-check-label" for="exampleCheck1">Статус активности</label>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">@ButtonStatus</button>
                </div>
              </EditForm>
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (left) -->
          
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
