@page "/Violations"
@using AntroStop.Domain.Base.Models;
@using AntroStop.Interfaces.Repositories;

@inject IViolationRepository<ViolationsInfo> repository

    

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Заявки</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active">Заявки</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              
              <!-- /.card-header -->
              <div class="card-body">
                        @if (sources is { })
                        {
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">ID</th>
                                        <th>Заяка</th>
                                        <th>Краткое описание</th>
                                        <th>Координаты</th>
                                        <th>Дата подачи заявки</th>
                                        <th>Дата изменения</th>
                                        <th style="width: 40px">Состояние</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var src in sources)
                                    {
                                        <tr>
                                            <td>@src.Id</td>
                                            <td><a href="@src.Id">@src.Title</a></td>
                                            <td>
                                                @src.Description
                                            </td>
                                            <td>@src.Coordinates</td>
                                            <td>@src.CreatedAt</td>
                                            <td>@src.UpdatedAt</td>
                                            <td>
                                                @switch(src.Status)
                                                {
                                                    case "Inbox":
                                                        <span class="badge bg-danger">

                                                            На рассмотрении

                                                        </span>
                                                        break;
                                                    case "Success":
                                                        <span class="badge bg-success">

                                                            Приняты меры

                                                        </span>
                                                        break;
                                                    case "Checking":
                                                        <span class="badge bg-warning">

                                                            Рассматривается

                                                        </span>
                                                        break;
                                                    default:
                                                        <span class="badge bg-danger">

                                                            Не опознанный статус

                                                        </span>
                                                        break;
                                                }
                                                
                                            </td>
                                            <td class="project-actions text-right">
                                                <a class="btn btn-primary btn-sm" href="#">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    Просмотреть
                                                </a>
                                                <a class="btn btn-success btn-sm" href="#">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Изменить
                                                </a>
                                                <a class="btn btn-danger btn-sm" href="#">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Удалить
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    

                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>Страница загружается</p>
                        }
                
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card -->

            
            <!-- /.card -->
          </div>
          <!-- /.col -->
          </div>
       
      </div><!-- /.container-fluid -->
    </section>
<!-- /.content -->


@code
{
    private IList<ViolationsInfo> sources;

    protected override async Task OnInitializedAsync()
    {
        sources = (await repository.GetAll()).ToList();
    }
}