@if (Violations.Count > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 60px">ID</th>
                <th>Заявка</th>
                <th>Описание</th>
                <th>Дата создания</th>
                <th>Ответ</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var src in Violations)
            {
                <tr>
                    <td>@src.Id</td>
                    <td>@src.Title</td>
                    <td>
                        @src.Description
                    </td>
                    <td>@src.CreatedAt</td>
                    <td>@src.Answer</td>
                    <td>
                        @switch (src.Status)
                        {
                            case "Принята":
                                <span class="badge bg-danger">

                                    Принята

                                </span>
                                break;
                            case "Проверка":
                                <span class="badge bg-blue">

                                    Проверка

                                </span>
                                break;
                            case "Рассмотрение":
                                <span class="badge bg-warning">

                                    Рассмотрение

                                </span>
                                break;
                            case "Закрыта":
                                <span class="badge bg-success">

                                    Закрыта

                                </span>
                                break;

                        }

                    </td>
                    
                </tr>
            }


        </tbody>
    </table>
}
else
{
    <p>Страница загружается</p>
}

